# Database & Auth Configuration
SUPABASE_URL=https://kfkvwqiduxscywohorcp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtma3Z3cWlkdXhzY3l3b2hvcmNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MDU2MzEsImV4cCI6MjA5MTM4MTYzMX0.oMuTSlI8KAH4sO1EY3ejpgY4B89w_H1Kg1DCd-pqAvg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtma3Z3cWlkdXhzY3l3b2hvcmNwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTgwNTYzMSwiZXhwIjoyMDkxMzgxNjMxfQ.d0DSuJvhSP5Rmuj-y0G0dFvZ9DJY5_jFkQ0BGtCU-1k

# Server Configuration
PORT=5000
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=dajuoi1ob
CLOUDINARY_API_KEY=819149151836652
CLOUDINARY_API_SECRET=q41z6EExG1ONg2UfrNjt03EhTz4
